<div class="main">
  <div class="container">
    <header>Formulario de Edición</header>
    <form #updateForm="ngForm" class="form" (ngSubmit)="onSubmit(updateForm)">
      <div class="input-box">
        <label for="date">Fecha de la Cita:</label>
        <input type="date" id="date" [(ngModel)]="cita.date" [min]="minDate" name="date" />
      </div>
      <div class="role-selection">
        <div class="role-label">
          <label>Estado de la cita:</label>
        </div>
        <div class="radio-buttons">
          <div>
            <input type="radio" id="estado_pendiente" [(ngModel)]="cita.estado" #roleInput required #roleField="ngModel" name="estado" value="pendiente" />
            <label for="estado_pendiente">Pendiente</label>
          </div>
          <div>
            <input type="radio" id="estado_realizada" [(ngModel)]="cita.estado" #roleInput required #roleField="ngModel" name="estado" value="realizada" />
            <label for="estado_realizada">Realizada</label>
          </div>
          <div>
            <input type="radio" id="estado_cancelada" [(ngModel)]="cita.estado" #roleInput required #roleField="ngModel" name="estado" value="cancelada" />
            <label for="estado_cancelada">Cancelada</label>
          </div>
        </div>
        <div *ngIf="roleField.invalid && (roleField.dirty || roleField.touched)" class="error">
          <div *ngIf="roleField.errors?.['required']">El estado es obligatorio.</div>
        </div>
      </div>
      <div *ngIf="errorMessage" class="error-message">
        {{ errorMessage }}
      </div>
      <div class="input-box">
        <button type="submit" class="btn" [disabled]="updateForm.invalid">Actualizar Cita</button>
      </div>
    </form>
  </div>
</div>
