<div>
  <div class="container-fluid footer position-relative bg-dark text-white-50 py-5 mt-5 wow fadeIn" data-wow-delay="0.1s">
    <div class="container">
      <div class="row g-5 py-5">
        <div class="col-lg-6 pe-lg-5">
          <a href="../../../index.html" class="navbar-brand">
            <h1 class="h1 text-primary mb-0">Lab<span class="text-white">sky</span></h1>
          </a>
          <p class="fs-5 mb-4">En LabSky, nos comprometemos a proporcionar servicios de laboratorio clínico de alta calidad y precisión. Nuestra misión es mejorar la salud y el bienestar de nuestros pacientes a través de análisis confiables y un servicio excepcional.</p>
          <p><i class="fa fa-map-marker-alt me-2"></i>62PQ+H24, Arterial 5, San Diego 2006, Carabobo</p>
          <p><i class="fa fa-phone-alt me-2"></i>+58 241 123 4567</p>
          <p><i class="fa fa-envelope me-2"></i>informacion&#64;labsky.com</p>
          <div class="d-flex mt-4">
            <a class="btn btn-lg-square btn-primary me-2" href="#"><i class="fab fa-twitter"></i></a>
            <a class="btn btn-lg-square btn-primary me-2" href="#"><i class="fab fa-facebook-f"></i></a>
            <a class="btn btn-lg-square btn-primary me-2" href="#"><i class="fab fa-linkedin-in"></i></a>
            <a class="btn btn-lg-square btn-primary me-2" href="#"><i class="fab fa-instagram"></i></a>
          </div>
        </div>
        <div class="col-lg-6 ps-lg-5">
          <div class="row g-5">
            <div class="col-sm-6">
              <h4 class="text-light mb-4">Enlaces Rápidos</h4>
              <a class="btn btn-link" href="">Acerca de Nosotros</a>
              <a class="btn btn-link" href="">Contactanos</a>
              <a class="btn btn-link" href="">Nuestros Servicios</a>
              <a class="btn btn-link" href="">Términos y Condiciones</a>
              <a class="btn btn-link" href="">Soporte</a>
            </div>
            <div class="col-sm-6">
              <h4 class="text-light mb-4">Enlaces Populares</h4>
              <a class="btn btn-link" href="">Acerca de Nosotros</a>
              <a class="btn btn-link" href="">Contactanos</a>
              <a class="btn btn-link" href="">Nuestros Servicios</a>
              <a class="btn btn-link" href="">Términos y Condiciones</a>
              <a class="btn btn-link" href="">Soporte</a>
            </div>
            <div class="col-sm-12">
              <h4 class="text-light mb-4">Noticias</h4>
              <div class="w-100">
                <div class="input-group">
                  <input type="text" class="form-control border-0 py-3 px-4" style="background: rgba(255, 255, 255, .1);" placeholder="Ingresa tu email">
                  <button class="btn btn-primary px-4">Registrarse</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
