<div>
  <div class="container-fluid container-team py-5">
    <div class="container pb-5">
      <div class="row g-5 align-items-center mb-5">
        <div class="col-md-6 wow fadeIn" data-wow-delay="0.3s">
          <img class="img-fluid w-100" ngSrc="assets/img/team-1.jpg" alt="" height="700" width="650">
        </div>
        <div class="col-md-6 wow fadeIn" data-wow-delay="0.5s">
          <h1 class="display-6 mb-3">Dr. John Martin</h1>
          <p class="mb-1">CEO & Fundador</p>
          <p class="mb-5">Labsky, New York, USA</p>
          <h3 class="mb-3">Biografía</h3>
          <p class="mb-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur tellus augue, iaculis id elit eget, ultrices pulvinar tortor. Quisque vel lorem porttitor, malesuada arcu quis, fringilla risus. Pellentesque eu consequat augue.</p>
          <p class="mb-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur tellus augue, iaculis id elit eget, ultrices pulvinar tortor. Quisque vel lorem porttitor, malesuada arcu quis, fringilla risus. Pellentesque eu consequat augue.</p>
          <div class="d-flex">
            <a class="btn btn-lg-square btn-primary me-2" href=""><i class="fab fa-facebook-f"></i></a>
            <a class="btn btn-lg-square btn-primary me-2" href=""><i class="fab fa-twitter"></i></a>
            <a class="btn btn-lg-square btn-primary me-2" href=""><i class="fab fa-linkedin-in"></i></a>
            <a class="btn btn-lg-square btn-primary me-2" href=""><i class="fab fa-youtube"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
