<div>
  <div class="container-fluid py-5">
    <div class="container">
      <div class="row g-5">
        <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
          <h1 class="display-6 mb-4">Garantizamos Que Siempre Recibas Los Mejores Resultados</h1>
          <p>En LabSky, nuestra prioridad es proporcionar resultados de análisis clínicos precisos y confiables. Nos esforzamos por mantener los más altos estándares de calidad en todos nuestros servicios, asegurando que cada paciente reciba la mejor atención posible.</p>
          <p class="mb-4">Contamos con un equipo de profesionales altamente calificados y tecnología de vanguardia para garantizar diagnósticos rápidos y exactos. Nuestra dedicación a la excelencia nos permite ofrecer un servicio de laboratorio que se adapta a tus necesidades.</p>
          <div class="d-flex align-items-start wow fadeIn" data-wow-delay="0.3s">
            <div class="icon-box-primary">
              <i class="bi bi-geo-alt text-dark fs-1"></i>
            </div>
            <div class="ms-3">
              <h5>Dirección</h5>
              <span>62PQ+H24, Arterial 5, San Diego 2006, Carabobo</span>
            </div>
          </div>
          <hr>
          <div class="d-flex align-items-start wow fadeIn" data-wow-delay="0.4s">
            <div class="icon-box-primary">
              <i class="bi bi-clock text-dark fs-1"></i>
            </div>
            <div class="ms-3">
              <h5>Horario de Atención</h5>
              <span>Lunes a Sábado 9am-5pm, Domingos Cerrados</span>
            </div>
          </div>
        </div>
        <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
          <h2 class="mb-4">Realizar Cita</h2>
          <form (ngSubmit)="onSubmit()" #citaForm="ngForm">
            <div class="row g-3">
              <div class="col-sm-6">
                <div class="form-floating">
                  <input type="datetime-local" class="form-control" id="date" name="date" [(ngModel)]="cita.date" required>
                  <label for="date">Fecha y Hora</label>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-floating">
                  <select class="form-select" id="service" name="service" [(ngModel)]="cita.description" required>
                    <option selected disabled>Elige Un Servicio</option>
                    <option value="Tests de Patología">Tests de Patología</option>
                    <option value="Tests de Microbiología">Tests de Microbiología</option>
                    <option value="Tests Bioquímicos">Tests Bioquímicos</option>
                    <option value="Tests de Histopatología">Tests de Histopatología</option>
                  </select>
                  <label for="service">Servicio</label>
                </div>
              </div>
              <div class="col-12 text-center">
                <button class="btn btn-primary w-100 py-3" type="submit" [disabled]="!citaForm.form.valid">Crear Cita</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
