<div>
  <div class="container-fluid py-5">
    <div class="container">
      <div class="row g-5">
        <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
          <h1 class="display-6 mb-4">Garantizamos Que Siempre Recibas Los Mejores Resultados</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur tellus augue, iaculis id elit eget, ultrices pulvinar tortor. Quisque vel lorem porttitor, malesuada arcu quis, fringilla risus. Pellentesque eu consequat augue.</p>
          <p class="mb-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur tellus augue, iaculis id elit eget, ultrices pulvinar tortor.</p>
          <div class="d-flex align-items-start wow fadeIn" data-wow-delay="0.3s">
            <div class="icon-box-primary">
              <i class="bi bi-geo-alt text-dark fs-1"></i>
            </div>
            <div class="ms-3">
              <h5>Dirección</h5>
              <span>123 Street, New York, USA</span>
            </div>
          </div>
          <hr>
          <div class="d-flex align-items-start wow fadeIn" data-wow-delay="0.4s">
            <div class="icon-box-primary">
              <i class="bi bi-clock text-dark fs-1"></i>
            </div>
            <div class="ms-3">
              <h5>Horario de Atención</h5>
              <span>Mon-Sat 09am-5pm, Sun Closed</span>
            </div>
          </div>
        </div>
        <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
          <h2 class="mb-4">Realizar Cita</h2>
          <div class="row g-3">
            <div class="col-sm-6">
              <div class="form-floating">
                <input type="text" class="form-control" id="name" placeholder="Nombre">
                <label for="name">Ingresa tu nombre</label>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-floating">
                <input type="email" class="form-control" id="mail" placeholder="Email">
                <label for="mail">Ingresa tu email</label>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-floating">
                <input type="text" class="form-control" id="mobile" placeholder="Telefono">
                <label for="mobile">Ingresa tu numero de teléfonos</label>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-floating">
                <select class="form-select" id="service">
                  <option selected>Tests de Patología</option>
                  <option value="">Tests de Microbiología</option>
                  <option value="">Tests Bioquímicos</option>
                  <option value="">Tests de Histopatología</option>
                </select>
                <label for="service">Elige Un Servicio</label>
              </div>
            </div>
            <div class="col-12">
              <div class="form-floating">
                <textarea class="form-control" placeholder="Deja un mensaje" id="message"
                          style="height: 130px"></textarea>
                <label for="message">Mensaje</label>
              </div>
            </div>
            <div class="col-12 text-center">
              <button class="btn btn-primary w-100 py-3" type="submit">Crear Cita</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
