<div class="container-fluid container-team py-5">
  <div class="container pb-5">
    <div class="row g-5 align-items-center mb-5">
      <div class="col-md-6 wow fadeIn d-flex justify-content-center" data-wow-delay="0.3s">
        <img class="img-fluid rounded" ngSrc="../../../assets/img/team-1.jpg" alt="Perfil del Usuario" height="350" width="350">
      </div>
      <div class="col-md-6 wow fadeIn" data-wow-delay="0.5s">
        <h1 class="display-6 mb-3">Dr. John Martin</h1>
        <p class="mb-1">Paciente</p>
        <p class="mb-5">Labsky, New York, USA</p>
        <button class="btn btn-secondary">Editar Perfil</button>
      </div>

    </div>
    <div class="row">
      <div class="col-12">
        <h2 class="display-6 mb-4">Citas del Paciente</h2>
        <div class="table-responsive">
          <table class="table table-striped table-bordered">
            <thead class="bg-primary text-white">
              <tr>
                <th>Fecha</th>
                <th>Tipo de Cita</th>
                <th>Estado</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let cita of citas">
                <td data-label="Fecha">{{ cita.fecha }}</td>
                <td data-label="Tipo de Cita">{{ cita.tipo }}</td>
                <td data-label="Estado">{{ cita.estado }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

