<div class="container-fluid py-5">
  <div class="container">
    <div class="table-container">
      <h1 class="display-6 mb-4 text-center">Listado Completo de Citas del Laboratorio</h1>

      <app-modal-confirmar *ngIf="showModal" [message]="modalMessage" (confirm)="onConfirm($event)"></app-modal-confirmar>

      <div class="table-responsive">
        <table class="table table-striped table-bordered">
          <thead class="bg-primary text-white">
            <tr>
              <th>Fecha y Hora</th>
              <th>Tipo de cita</th>
              <th>Estado</th>
              <th>Paciente</th>
              <th>Acción</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let cita of citas">
              <td data-label="Fecha y Hora">{{ cita.date }}</td>
              <td data-label="Tipo de Cita">{{ cita.description }}</td>
              <td data-label="Estado">{{ capitalizeFirstLetter(cita.estado) }}</td>
              <td data-label="Paciente">{{ capitalizeFirstLetter(cita.paciente.name) }}</td>
              <td data-label="Acción">
                <button class="btn btn-secondary btn-sm me-2" (click)="editCita(cita.id)">Editar</button>
                <button class="btn btn-danger btn-sm" (click)="deleteCita(cita.id)">Eliminar</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
