<div class="chatbot-body"  [ngClass]="{'show-chatbot': isChatbotVisible}">
  <button class="chatbot-toggler" (click)="toggleChatbot()">
    <mat-icon>mode_comment</mat-icon>
    <mat-icon>close</mat-icon>
  </button>
  <div class="chatbot">
    <header>
      <h2>Chatbot</h2>
      <mat-icon (click)="toggleChatbot()">close</mat-icon>
    </header>
    <ul #chatbox class="chatbox">
      <li *ngFor="let message of messages" [ngClass]="{
        'incoming': message.sender === 'model',
        'outgoing': message.sender === 'user'}"
          class="chat">
        <mat-icon *ngIf="message.sender === 'model'">smart_toy</mat-icon>
        <p [ngClass]="{'error': message.error}">{{ message.text }}</p>
      </li>
    </ul>
    <div class="chat-input">
      <textarea placeholder="Escribe un mensaje" [(ngModel)]="newMessage" (keydown)="handleKeyDown($event)" required appAutoResize></textarea>
      <mat-icon id="send-btn" (click)="addMessage()">send</mat-icon>
    </div>
  </div>
</div>
