<div class="body-app">
<!--    <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">-->
<!--      <div class="spinner-border text-primary" role="status" style="width: 3rem; height: 3rem;"></div>-->
<!--    </div>-->

  <div class="container-fluid py-2 d-none d-lg-flex">
        <div class="container">
            <div class="d-flex justify-content-between">
                <div>
                    <small class="me-3"><i class="fa fa-map-marker-alt me-2"></i>62PQ+H24, Arterial 5, San Diego 2006, Carabobo</small>
                    <small class="me-3"><i class="fa fa-clock me-2"></i>Lunes a Sábado 09am-5pm</small>
                </div>
                <nav class="breadcrumb mb-0">
                    <a class="breadcrumb-item small text-body" href="#">Carrera</a>
                    <a class="breadcrumb-item small text-body" href="#">Soporte</a>
                    <a class="breadcrumb-item small text-body" href="#">Términos</a>
                    <a class="breadcrumb-item small text-body" href="#">FAQs</a>
                </nav>
            </div>
        </div>
  </div>

  <div class="container-fluid bg-primary text-white pt-4 pb-5 d-none d-lg-flex">
        <div class="container pb-2">
            <div class="d-flex align-items-center justify-content-between">
                <div class="d-flex">
                    <i class="bi bi-telephone-inbound fs-2"></i>
                    <div class="ms-3">
                        <h5 class="text-white mb-0">Llama Ahora</h5>
                        <span>+012 345 6789</span>
                    </div>
                </div>
                <a href="../../../index.html" class="h1 text-white mb-0">Lab<span class="text-dark">sky</span></a>
                <div class="d-flex">
                    <i class="bi bi-envelope fs-2"></i>
                    <div class="ms-3">
                        <h5 class="text-white mb-0">Enviar Correo</h5>
                        <span>info&#64;example.com</span>
                    </div>
                </div>
            </div>
        </div>
  </div>

  <div class="container-fluid sticky-top bg-white">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light bg-white py-lg-0 px-lg-3">
                <a href="../../../index.html" class="navbar-brand d-lg-none">
                    <h1 class="text-primary m-0">Lab<span class="text-dark">sky</span></h1>
                </a>
                <button type="button" class="navbar-toggler me-0" data-bs-toggle="collapse"
                    data-bs-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <div class="navbar-nav">
                        <a routerLink="" class="nav-item nav-link active">Inicio</a>
                        <a (click)="scrollToElement('about')" class="nav-item nav-link" style="cursor: pointer">Acerca de</a>
                        <a (click)="scrollToElement('servicios')" class="nav-item nav-link" style="cursor: pointer">Servicios</a>
                        <div class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Paginas</a>
                            <div class="dropdown-menu bg-light m-0">
                                <a (click)="scrollToElement('testimonios')" class="dropdown-item" style="cursor: pointer">Testimonio</a>
                                <a routerLink="citas" class="dropdown-item">Citas</a>
                                <a routerLink="qwegfqw" class="dropdown-item">404 Page</a>
                            </div>
                        </div>
                        <div *ngIf="isLoggedIn" class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Mi Cuenta</a>
                            <div class="dropdown-menu bg-light m-0">
                                <a routerLink="perfil" class="dropdown-item">Perfil</a>
                                <a *ngIf="isAdmin" routerLink="citas-table" class="dropdown-item">Tabla de citas</a>
                                <a *ngIf="isAdmin" routerLink="users" class="dropdown-item">Tabla de usuarios</a>
                                <a *ngIf="isLoggedIn" (click)="logout()" class="dropdown-item" style="cursor: pointer">Cerrar Sesión</a>
                            </div>
                        </div>
                        <a (click)="scrollToElement('footer')" class="nav-item nav-link">Contacto</a>
                        <div class="navbar-nav navbar-nav-right">
                          <a *ngIf="!isLoggedIn" routerLink="login" class="nav-item nav-link">Iniciar Sesión</a>
                          <a *ngIf="!isLoggedIn" routerLink="register" class="nav-item nav-link">Registrarse</a>

                        </div>
                    </div>
                </div>
            </nav>
        </div>
  </div>

  <div style="background: #fff">
  <router-outlet></router-outlet>
  </div>
  <app-footer #footer id="footer"></app-footer>

  <app-chatbot></app-chatbot>

</div>
