<div class="reset-password-container">
  <h2>Reestablece tu contraseña</h2>
  <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
    <div>
      <label for="password">Nueva contraseña:</label>
      <input type="password" id="password" formControlName="password" required>
      <div *ngIf="password?.invalid && (password?.touched || password?.dirty)">
        <div class="error-message" *ngIf="password?.errors?.['required']">La contraseña es requerida</div>
        <div class="error-message" *ngIf="password?.errors?.['minlength']">La contraseña debe tener al menos 6 caracteres</div>
        <div class="error-message" *ngIf="password?.errors?.['maxlength']">La contraseña no puede tener más de 20 caracteres</div>
      </div>
    </div>
    <div>
      <label for="password2">Repita su contraseña:</label>
      <input type="password" id="password2" formControlName="password2" required>
      <div *ngIf="password2?.invalid && (password2?.touched || password2?.dirty)">
        <div class="error-message" *ngIf="password2?.errors?.['required']">La confirmación de la contraseña es requerida</div>
      </div>
      <div class="error-message" *ngIf="resetForm.errors?.['mismatch'] && (password2?.touched || password2?.dirty)">
        Las contraseñas no coinciden
      </div>
    </div>
    <button type="submit" [disabled]="resetForm.invalid" class="btn-submit">Confirmar cambio de contraseña</button>
  </form>
  <div *ngIf="successMessage" class="success-message">{{ successMessage }}</div>
  <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
</div>
