<div>
      <!-- Service Start -->
    <div class="container-fluid container-service py-5">
        <div class="container pt-5">
            <div class="text-center mx-auto wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
                <h1 class="display-6 mb-3">Servicio de Laboratorio Confiable y de Alta Calidad</h1>
                <p class="mb-5">En LabSky, ofrecemos una amplia gama de servicios de laboratorio clínico con la máxima precisión y confianza. </p>
            </div>
            <div class="row g-4">
                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="service-item">
                        <div class="icon-box-primary mb-4">
                            <i class="bi bi-heart-pulse text-dark"></i>
                        </div>
                        <h4 class="mb-3">Pruebas de Patología</h4>
                            <p class="mb-4">Realizamos pruebas de patología detalladas para el diagnóstico y monitoreo de diversas condiciones médicas, asegurando un tratamiento oportuno y adecuado.</p>
                        <a class="btn btn-light px-3" href="">Leer Mas<i class="bi bi-chevron-double-right ms-1"></i></a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="service-item">
                        <div class="icon-box-primary mb-4">
                            <i class="bi bi-lungs text-dark"></i>
                        </div>
                        <h4 class="mb-3">Pruebas de Microbiología</h4>
                            <p class="mb-4">Nuestros análisis de microbiología detectan y caracterizan infecciones causadas por bacterias, virus, hongos y parásitos, proporcionando información crucial para el tratamiento.</p>
                        <a class="btn btn-light px-3" href="">Leer Mas<i class="bi bi-chevron-double-right ms-1"></i></a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="service-item">
                        <div class="icon-box-primary mb-4">
                            <i class="bi bi-virus text-dark"></i>
                        </div>
                        <h4 class="mb-3">Pruebas de Bioquímica</h4>
                            <p class="mb-4">Ofrecemos pruebas de bioquímica clínica para evaluar el estado funcional de los órganos y sistemas del cuerpo, facilitando el diagnóstico y manejo de enfermedades.</p>
                        <a class="btn btn-light px-3" href="">Leer Mas<i class="bi bi-chevron-double-right ms-1"></i></a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.7s">
                    <div class="service-item">
                        <div class="icon-box-primary mb-4">
                            <i class="bi bi-capsule-pill text-dark"></i>
                        </div>
                        <h4 class="mb-3">Pruebas de Histopatología</h4>
                            <p class="mb-4">Las pruebas de histopatología permiten un estudio minucioso de tejidos para detectar anormalidades y enfermedades a nivel celular, apoyando diagnósticos precisos. </p>
                        <a class="btn btn-light px-3" href="">Leer Mas<i class="bi bi-chevron-double-right ms-1"></i></a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="service-item">
                        <div class="icon-box-primary mb-4">
                            <i class="bi bi-capsule text-dark"></i>
                        </div>
                        <h4 class="mb-3">Análisis de Orina</h4>
                            <p class="mb-4">Realizamos análisis de orina para detectar y monitorear infecciones del tracto urinario, enfermedades renales y otras condiciones de salud.</p>
                        <a class="btn btn-light px-3" href="">Leer Mas<i class="bi bi-chevron-double-right ms-1"></i></a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="service-item">
                        <div class="icon-box-primary mb-4">
                            <i class="bi bi-prescription2 text-dark"></i>
                        </div>
                        <h4 class="mb-3">Análisis de Sangre</h4>
                            <p class="mb-4">Nuestros análisis de sangre proporcionan información vital sobre su salud general, ayudando a diagnosticar enfermedades y monitorear tratamientos.</p>
                        <a class="btn btn-light px-3" href="">Leer Mas<i class="bi bi-chevron-double-right ms-1"></i></a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="service-item">
                        <div class="icon-box-primary mb-4">
                            <i class="bi bi-clipboard2-pulse text-dark"></i>
                        </div>
                        <h4 class="mb-3">Pruebas de fiebre</h4>
                            <p class="mb-4">Ofrecemos pruebas específicas para identificar las causas de la fiebre, incluyendo infecciones virales y bacterianas, asegurando un diagnóstico preciso.</p>
                        <a class="btn btn-light px-3" href="">Leer Mas<i class="bi bi-chevron-double-right ms-1"></i></a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.7s">
                    <div class="service-item">
                        <div class="icon-box-primary mb-4">
                            <i class="bi bi-file-medical text-dark"></i>
                        </div>
                        <h4 class="mb-3">Pruebas de Alergia</h4>
                            <p class="mb-4">Realizamos pruebas de alergia para identificar alérgenos específicos y ayudar en la gestión efectiva de sus síntomas.</p>
                        <a class="btn btn-light px-3" href="">Leer Mas<i class="bi bi-chevron-double-right ms-1"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Service End -->
</div>
