<div class="main">
  <div class="container">
    <header>Formulario de Edición</header>
    <form #updateForm="ngForm" class="form" (ngSubmit)="onSubmit(updateForm)">
      <div class="role-selection">
        <div class="role-label">
          <label>Rol del usuario:</label>
        </div>
        <div class="radio-buttons">
          <div>
            <input type="radio" id="role_admin" [(ngModel)]="user.role" name="role" #roleInput required #roleField="ngModel" value="admin" />
            <label for="role_admin">Administrador</label>
          </div>
          <div>
            <input type="radio" id="role_medic" [(ngModel)]="user.role" name="role" #roleInput required #roleField="ngModel" value="médico" />
            <label for="role_medic">Médico</label>
          </div>
          <div>
            <input type="radio" id="role_cliente" [(ngModel)]="user.role" name="role" #roleInput required #roleField="ngModel" value="cliente" />
            <label for="role_medic">Cliente</label>
          </div>
          <div *ngIf="roleField.invalid && (roleField.dirty || roleField.touched)" class="error">
            <div *ngIf="roleField.errors?.['required']">El rol del usuario es oblitatorio.</div>
          </div>
        </div>
      </div>
      <div *ngIf="successMessage" class="success-message">
        {{ successMessage }}
      </div>
      <div *ngIf="errorMessage" class="error-message">
        {{ errorMessage }}
      </div>
      <div class="input-box">
        <button type="submit" class="btn" [disabled]="updateForm.invalid">Actualizar Usuario</button>
      </div>
    </form>
  </div>
</div>
