<div class="reset-password-container">
  <h2>Indica tu correo electrónico</h2>
  <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
    <div>
      <label for="email">Email:</label>
      <input type="email" id="email" formControlName="email" name="email" required />
      <div *ngIf="resetForm.get('email')?.invalid && resetForm.get('email')?.touched">
        <small *ngIf="resetForm.get('email')?.errors?.['required']">Por favor indique el correo.</small>
        <small *ngIf="resetForm.get('email')?.errors?.['email']">Formato de correo invalido.</small>
      </div>
    </div>
    <button type="submit" [disabled]="resetForm.invalid" class="btn-submit">Reestablecer contraseña</button>
    <div *ngIf="successMessage" class="success-message">{{ successMessage }}</div>
    <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
  </form>
</div>
