<div class="home">
  <a href="home">
    <button>&larr; Volver al Inicio</button>
  </a>
</div>

<div class="container">
  <div class="box">
    <h2>Iniciar sesión</h2>
    <form [formGroup]="form" (submit)="submit()">
      <div class="inputBox">
        <label for="email">Correo electrónico:</label>
        <input formControlName="email" type="email" name="email" placeholder="Correo electrónico..." required="">
      </div>
      <div class="inputBox">
        <label for="password">Contraseña:</label>
        <input formControlName="password" type="password" name="password" placeholder="********" required="">
      </div>
      <input class="send" type="submit" value="Confirmar">
    </form>
  </div>
  <div class="register">
    <p>¿No tienes una cuenta? <a href="register">Regístrate</a></p>
  </div>
</div>
