<div>
  <img class="wave" ngSrc="../../../assets/img/wave%20blue.png" alt="" height="1700" width="750">
  <div class="container">
    <div class="img">
      <img ngSrc="../../../assets/img/newbg.svg" height="840" width="1010" alt="" />
    </div>
    <div class="login-content">
      <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
        <img ngSrc="../../../assets/img/newavatar.svg" height="698" width="698" alt="" />
        <h2 class="title">Bienvenido!</h2>

        <div *ngIf="errorMessage" class="error-message">
          {{ errorMessage }}
        </div>

        <div class="input-div one" [class.focus]="email.length > 0 || focus">
          <div class="i">
            <i class="fas fa-user"></i>
          </div>
          <div class="div">
            <h5>Correo electrónico</h5>
            <input type="email" class="input" [(ngModel)]="email" name="email" required email #emailField="ngModel" />
            <div *ngIf="emailField.invalid && (emailField.dirty || emailField.touched)" class="error">
              <div *ngIf="emailField.errors?.['required']">El correo electrónico es obligatorio.</div>
              <div *ngIf="emailField.errors?.['email']">El correo electrónico no es válido.</div>
            </div>
          </div>
        </div>
        <div class="input-div pass" [class.focus]="password.length > 0 || focus">
          <div class="i">
            <i class="fas fa-lock"></i>
          </div>
          <div class="div">
            <h5>Contraseña</h5>
            <input type="password" class="input" [(ngModel)]="password" name="password" required minlength="6" #passwordField="ngModel" />
            <div *ngIf="passwordField.invalid && (passwordField.dirty || passwordField.touched)" class="error">
              <div *ngIf="passwordField.errors?.['required']">La contraseña es obligatoria.</div>
              <div *ngIf="passwordField.errors?.['minlength']">La contraseña debe tener al menos 6 caracteres.</div>
            </div>
          </div>
        </div>
        <a routerLink="/register">No tienes cuenta? Crea una aquí</a>
        <a class="recover-pass" href="#">Olvidaste tu contraseña?</a>
        <button type="submit" class="btn" [disabled]="loginForm.invalid">Iniciar Sesión</button>
      </form>
    </div>
  </div>
  <script type="text/javascript" src="../../../assets/js/main.js"></script>
</div>
