<img class="wave" src="../../../assets/img/wave.png">
<div class="container">
  <div class="img">
    <img src="../../../assets/img/bg.svg" />
  </div>
  <div class="login-content">
    <form (ngSubmit)="onSubmit()">
      <img src="../../../assets/img/avatar.svg" />
      <h2 class="title">Bienvenido de vuelta!</h2>
      <div class="input-div one" [class.focus]="email.length > 0 || focus">
        <div class="i">
          <i class="fas fa-user"></i>
        </div>
        <div class="div">
          <h5>Correo electrónico</h5>
        <input type="email" class="input" [(ngModel)]="email" name="email" />
        </div>
      </div>
      <div class="input-div pass" [class.focus]="password.length > 0 || focus">
        <div class="i">
          <i class="fas fa-lock"></i>
        </div>
        <div class="div">
          <h5>Contraseña</h5>
        <input type="password" class="input" [(ngModel)]="password" name="password" />
        </div>
      </div>
      <a href="register">No tienes cuenta? Crea una aquí</a>
      <a class="recover-pass" href="#">Olvidaste tu contraseña?</a>
      <button type="submit" class="btn">Iniciar Sesión</button>
    </form>
  </div>
</div>
<script type="text/javascript" src="../../../assets/js/main.js"></script>
