nav {
  padding: 1.5rem;
  background-color: #e2e2e2;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  display: flex;
  gap: 1rem;
}

.nav-links button {
  background-color: #908a80;
  color: #fff;
  border: none;
  font-size: 1.05rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: all 0.3s;
}

.nav-links button:hover {
  background-color: #5c5850;
  transition: all 0.6s;
}

.perfil p-button {
  margin-right: 0.5rem;
}

.perfil p-button:last-child {
  margin-right: 0;
}

.perfil-2 button {
  color: #fff;
  border: none;
  border-radius: 15px;
  font-size: 1.05rem;
  padding: 0.5rem 1rem;
  margin-left: 1rem;
  cursor: pointer;
  transition: all 0.3s;
}

.login button {
  background-color: #0089bd;
}

.login button:hover {
  background-color: #025d85;
  transition: all 0.6s;
}

.register button {
  background-color: #3e7c6b;
}

.register button:hover {
  background-color: #174238;
  transition: all 0.6s;
}

.container {
  display: flex;
  flex-direction: column;
}

.container .hero {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.container .nosotros h2 {
  margin-left: 2rem;
}

.container .info {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  gap: 1rem;
}

.container .info img {
  width: 20%;
  height: 25%;
  margin-right: 20px;
}

footer {
  color: white;
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  background-color: #25292c;
  padding: 1rem;
}

// footer .location {
//   display: flex;
//   flex-direction: column;
//   align-items: center;
// }

// footer .location h2,
// footer .location p {
//   text-align: center;
// }

footer iframe {
  margin: 10px 0;
  border: none;
  border-radius: 25px;
  width: 80rem;
  height: 50rem;
}

footer a {
  color: rgb(48, 130, 223);
  text-decoration: none;
}
