<div class="container-fluid py-5">
  <div class="container">
    <div class="table-container">
      <h1 class="display-6 mb-4 text-center">Listado Completo de Usuarios</h1>

      <div class="text-end mb-3">
        <button class="btn btn-primary create-button" (click)="createUser()">+ Agregar Usuario</button>
      </div>

      <app-modal-confirmar *ngIf="showModal" [message]="modalMessage" (confirm)="onConfirm($event)"></app-modal-confirmar>

      <div class="table-responsive">
        <table class="table table-striped table-bordered">
          <thead class="bg-primary text-white">
            <tr>
              <th>Nombre</th>
              <th>Correo Electrónico</th>
              <th>Número de Teléfono</th>
              <th>Rol</th>
              <th>Acción</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let user of users">
              <td data-label="Nombre">{{ capitalizeFirstLetter(user.name) }}</td>
              <td data-label="Correo Electrónico">{{ user.email }}</td>
              <td data-label="Número de Teléfono">
                {{ user.phone }}
                <p *ngIf="!user.phone">No posee un número de telefóno registrado</p>
              </td>
              <td data-label="Rol">{{ capitalizeFirstLetter(user.role) }}</td>
              <td data-label="Acción">
                <button class="btn btn-secondary btn-sm me-2" (click)="editUser(user.id)">Editar</button>
                <button class="btn btn-danger btn-sm" (click)="deleteUser(user.id)">Eliminar</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
